<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col d-flex flex-column justify-content-center align-items-center mb-5 main-container">
      <div class="col mt-5">
        <button type="button" class="quizzically-primary-button btn-lg btn-block">Rozpocznij grę</button>
      </div>
      <div class="col mt-4">
        <button type="button" class="quizzically-primary-button btn-lg btn-block">Moje punkty</button>
      </div>
      <div class="col mt-4">
        <button type="button" (click)="logout()" class="quizzically-secondary-button btn-lg btn-block">Wyloguj się</button>
      </div>
    </div>
</div>
  