<section class="vh-100">
    <div class="container my-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 py-3 text-center h-80">
              <h3 class="mb-5">Panel logowania</h3>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" formControlName="username" />
                <label class="form-label" for="typeEmailX-2">Login</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" formControlName="password" />
                <label class="form-label" for="typePasswordX-2">Hasło</label>
              </div>
              <button class="quizzically-primary-button" type="submit">Zaloguj</button>
              <hr class="my-4">
              <button class="quizzically-secondary-button"
                type="submit" (click)="openSignUpPage()">Zarejestruj się</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>