<section class="vh-100">
  <div class="container my-4">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <span class="text-center text-danger" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
            Wprowadź poprawny email
        </span> 
        <span class="text-center text-danger" *ngIf="signupForm.get('password')?.value !== signupForm.get('confirmPassword')?.value && signupForm.get('confirmPassword')?.touched && signupForm.get('password')?.touched">
          Hasła nie są zgodne
      </span>
          <div class="card-body p-5 py-3 text-center h-60">
<form [formGroup]="signupForm" (ngSubmit)="signup()">
            <h3 class="mb-3">Panel rejestracji</h3>

            <div class="row mb-1">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="name" formControlName="name" class="form-control form-control-lg" />
                  <label class="form-label" for="name">Imię</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="surname" formControlName="surname" class="form-control form-control-lg" />
                  <label class="form-label" for="surname">Nazwisko</label>
                </div>
              </div>
            </div>

            <div class="form-outline mb-1">
              <input type="text" id="username" formControlName="username" class="form-control form-control-lg" />
              <label class="form-label" for="username">Login</label>
            </div>

            <div class="form-outline mb-1">
              <input type="email" id="email" formControlName="email" class="form-control form-control-lg" />
              <label class="form-label" for="email">Email</label>
            </div>

            <div class="row mb-1">
              <div class="col">
                <div class="form-outline">
                  <input type="password" id="password" formControlName="password" class="form-control form-control-lg" />
                  <label class="form-label" for="password">Hasło</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control form-control-lg" />
                  <label class="form-label" for="confirmPassword">Powtórz hasło</label>
               
                 
                </div>
              </div>
            </div>

            <button class="quizzically-primary-button" type="submit">Zarejestruj</button>

            <hr class="my-4">

            <button class="quizzically-secondary-button" type="submit" (click)="openLoginPage()">Panel logowania</button>

          </form>
          </div>

        



        </div>
      </div>
    </div>
  </div>
</section>
